@model MVC.ViewModel.AdicionarEventoViewModel
@{

}

<header class="slidePanel-header">
    <div class="slidePanel-actions" aria-label="actions" role="group">
        <button type="button" class="btn btn-pure slidePanel-close actions-top icon md-close" aria-hidden="true"></button>
    </div>
    <h1>Novo Chamado</h1>
</header>


<div class="slidePanel-inner">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="panel">
                    <div class="panel-body">
                        <form asp-controller="Evento" asp-action="Novo" method="POST">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "alert alert-danger", role = "alert" })

                            <div class="form-group">
                                <label asp-for="Descricao" class="form-control-label"></label>
                                <textarea asp-for="Descricao" class="form-control"  rows="5"></textarea>
                            </div>
                            <div class="form-group">
                                <label asp-for="Status" class="form-control-label"></label>
                                <select asp-for="Status" class="form-control form-control-lg" data-plugin="select2Ajax" data-ajax--url="//10.1.0.4/api/evento/select2/buscarstatus"></select>
                            </div>
                            <div class="form-group">
                                <label  class="form-control-label">ENCAMINHAR PARA</label>
                                <select asp-for="Status" class="form-control form-control-lg" data-plugin="select2Ajax" data-ajax--url="//10.1.0.4/api/evento/select2/buscarstatus"></select>
                            </div>
                            <div class="hidden">
                                <input asp-for="NomeAtendenteAtual" Value="Joao" hidden />
                            </div>
                            <div class="hidden">
                                <input asp-for="ChamadoId"hidden />
                            </div>

                            <div class="row">
                                <div class="col-lg-1">
                                    <button type="submit" class="btn btn-lg btn-primary waves-effect waves-light">Envaminhar N2</button>
                                </div>
                                <div class="col-lg-1 offset-lg-8">
                                    <button type="submit" class="btn btn-lg btn-primary waves-effect waves-light">Salvar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

