<div class="site-menubar site-menubar-light">
    <div class="site-menubar-body">
        <div>
            <div>
                <ul class="site-menu" data-plugin="menu">
                    <li class="site-menu-category">MENU</li>
                    <li class="dropdown site-menu-item">
                        <a href="@Url.Action("Index","Home")">
                            <span class="site-menu-title">HOME</span>
                        </a>
                    </li>
                    <li class="dropdown site-menu-item">
                        <a href="@Url.Action("About","Home")">
                            <span class="site-menu-title">ABOUT</span>
                        </a>
                    </li>
                    <li class="dropdown site-menu-item">
                        <a href="@Url.Action("Contact","Home")">
                            <span class="site-menu-title">CONTACT</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
