


<div class="jumbotron" style="  background: gray;
                                      border: black dashed 3px;
                                      width: 200px;
                                      padding: 50px;
                                      text-align: center;
                                      color: white;">
    <form asp-action="AdicionarImagemAsync" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm" style="width: 50px; background: none; border: none;">
        <div class="fallback">
            <input name="file" type="file" multiple />
            <input type="submit" value="Upload" />
        </div>
        <input name="id" value="@ViewBag.Id" id="id" hidden="" />
    </form>
</div>




