@using Domain.Entities

@model List<Chamado>

@section pluginsStyle
{
    <link rel="stylesheet" href="http://static.bischoffgroup.com.br/resources/plugins/select2/select2.css">

}
<div class="page">
    <div class="page-header">
        <h1 class="page-title mb-10">Chamados</h1>
    </div>
    <div class="page-content">
        <div class=" container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    @Html.Partial("_Lista", Model)
                </div>
                <div class="site-action">
                    <button type="button" data-url="@Url.Action("Novo", "Home")" data-toggle="slidePanel" class="btn-raised btn btn-success btn-floating waves-effect waves-classic">
                        <i class="front-icon md-plus animation-scale-up" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
@section plugins
{
    <script src="http://static.bischoffgroup.com.br/resources/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="http://static.bischoffgroup.com.br/resources/plugins/select2/select2.js"></script>
}


@section scripts {
    <script>

        // Individual column searching
        // ---------------------------
        (function () {
            $(document).ready(function () {
                var defaults = Plugin.getDefaults("dataTable");

                var options = $.extend(true, {}, defaults, {
                    initComplete: function () {
                        this.api().columns().every(function () {
                            var column = this;
                            var select = $('<select class="form-control w-full"><option value=""></option></select>')
                                .appendTo($(column.footer()).empty())
                                .on('change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                    );

                                    column
                                        .search(val ? '^' + val + '$' : '', true, false)
                                        .draw();
                                });

                            column.data().unique().sort().each(function (d, j) {
                                select.append('<option value="' + d + '">' + d + '</option>');
                            });
                        });
                    }
                });

                $('#table').DataTable(options);
            });
        })();
    </script>

}
