@model MVC.ViewModel.Home.ChamadoViewModel
@{
    ViewBag.Id = Model.Codigo;

}
@section pluginsStyle
{
    <link rel="stylesheet" href="http://static.bischoffgroup.com.br/resources/plugins/select2/select2.css">
    <link href="~/js/blueimp-file-upload/jquery.fileupload.css" rel="stylesheet" />
    <link href="~/js/dropify/dropify.css" rel="stylesheet" />
}
<div class="page">
    <div class="page-header">
        <h1 class="page-title mb-10">Chamados</h1>
    </div>
    <div class="page-content">
        <div class="container container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Visualizar</h3>
                        </div>
                        <div class="panel-body" id="render-chamado">
                            @Html.Partial("_Visualizar", Model)
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Imagens</h3>
                        </div>
                        <div class="panel-body" id="render-chamado">

                            @Html.Partial("_Imagem")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section plugins
{
    <script src="http://static.bischoffgroup.com.br/resources/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="http://static.bischoffgroup.com.br/resources/plugins/select2/select2.js"></script>
    <script src="~/js/blueimp-tmpl/tmpl.js"></script>
    <script src="~/js/blueimp-canvas-to-blob/canvas-to-blob.js"></script>
    <script src="~/js/blueimp-load-image/load-image.all.min.js"></script>
    <script src="~/js/blueimp-file-upload/jquery.fileupload.js"></script>
    <script src="~/js/blueimp-file-upload/jquery.fileupload-process.js"></script>
    <script src="~/js/blueimp-file-upload/jquery.fileupload-image.js"></script>
    <script src="~/js/blueimp-file-upload/jquery.fileupload-audio.js"></script>
    <script src="~/js/blueimp-file-upload/jquery.fileupload-video.js"></script>
    <script src="~/js/blueimp-file-upload/jquery.fileupload-validate.js"></script>
    <script src="~/js/blueimp-file-upload/jquery.fileupload-ui.js"></script>
    <script src="~/js/dropify/dropify.js"></script>
}

@section scripts
{
    <script>

        var onFailure = function (response, status, error) {
            $("#return").html(response.responseText).removeClass().addClass("alert alert-danger");
        };


        var onSuccess = function (response, status) {
            $("#return").html("Aleração realizada com sucesso").removeClass().addClass("alert alert-success");
        };

    </script>
}
